body { margin: 0; padding: 0; overflow: hidden; background-color: #000000; }
#root { width: 100%; height: 100%; }
::-webkit-scrollbar { display: none; }
.cinzel { font-family: 'Cinzel', serif; }
.lato { font-family: 'Lato', sans-serif; }